# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/hello_disting_mk3/hello_disting_mk3.X/dist/no_bootloader/
/hello_disting_mk3/hello_disting_mk3.X/build/no_bootloader/
/hello_disting_mk3/hello_disting_mk3.X/dist/for_bootloader/
/hello_disting_mk3/hello_disting_mk3.X/build/for_bootloader/
/hello_disting_mk3/hello_disting_mk3.X/nbproject/private/
/hello_disting_mk4/nbproject/private/
/hello_disting_mk4/nbproject/*.mk
/hello_disting_mk4/nbproject/*.bash
/hello_disting_mk4/nbproject/Makefile-genesis.properties
/hello_disting_mk4/build/MX170F256D/
/hello_disting_mk4/dist/MX170F256D/
/hello_disting_mk4/build/MX170F256D_for_bootloader/
/hello_disting_mk4/dist/MX170F256D_for_bootloader/